/*1379px - 1440px*/
@media screen and (max-width: 1379px) {
    .container {
        padding-left: 19px;
        padding-right: 19px;
    }

    .present {
        width: 70px;
        height: 70px;
        bottom: 15px;
        right: 20px;
    }

    .present__image {
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        right: calc(50% - 20px);
    }

    .present__text {
        top: 5px;
        right: 95px;
    }

    .order__strawberry-right {
        right: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding-bottom: 82px;
    }

    .header__container {
        justify-content: flex-start;
    }

    .number {
        display: none;
    }

    .menu {
        margin-left: 103px;
    }

    .main {
        padding: 15px 0 420px 0;
        position: relative;
    }

    .main__image {
        position: absolute;
        bottom: 62px;
        right: 55px;
    }

    .main__image::before,
    .main__image::after {
        width: 150px;
        height: 150px;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
    }

    .about-us__container {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-us__info {
        max-width: 672px;
    }

    .about-us__title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about-us__description {
        max-width: 672px;
        margin-bottom: 40px;
    }

    .about-us__image {
        width: 302px
    }

    .about-us__image-img {
        max-width: 100%;
    }

    .advantage__container {
        grid-template-columns: repeat(2, 218px);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 58px;
        row-gap: 80px;
        justify-content: center;
    }

    .advantage__items {
        text-align: center;
    }

    .advantage__item {
        margin-left: auto;
        margin-right: auto;
    }

    .products__items {
        grid-template-columns: repeat(2, 263px);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        row-gap: 136px;
        justify-content: center;
    }

    .order__container {
        position: relative;
    }

    .order__image {
        max-width: 352px;
        order: 2;
        position: absolute;
        right: -145px;
        bottom: -120px;
    }

    .order__image-img {
        width: 100%;
    }

    .order__strawberry-left {
        top: 260px;
        left: 370px;
    }

    .order__strawberry-right {
        top: 110px;
        right: 110px;
    }
}

@media screen and (max-width: 767px) {
    .main {
        padding-bottom: 43px;
    }

    .main__container {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .main__title {
        margin-bottom: 40px;
    }

    .main__description {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .main__image {
        position: relative;
        right: 0;
        bottom: 0;
        width: 400px;
    }

    .main__image-img {
        width: 100%;
    }

    .main__action {
        margin-bottom: 38px;
    }

    .order__container {
        justify-content: center;
        align-items: center;
    }

    .order__image {
        display: none;
    }

    .order__form-title {
        position: relative;
    }

    .order__strawberry-left {
        width: 72px;
        height: 89px;
        top: 130px;
        left: 80%;
        animation-play-state: paused;
    }

    .order__strawberry-left-img {
        width: 72px;
        height: 89px;
    }

    .order__strawberry-right {
        display: none;
    }

    .order__input_input {
        width: 100%;
    }

    .order__button {
        width: 100%;
    }
}

@media screen and (max-width: 594px) {
    .header__container {
        justify-content: space-between;
    }

    .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .menu__item {
        margin-bottom: 50px;
    }

    .menu__link {
        color: #d7485c;
        font-size: 20px;
    }

    .header__burger {
        display: block;
        cursor: pointer;
        font-size: 0;
    }

    .header__burger-svg {
        width: 40px;
        height: 22px;
        fill: #821328;
    }

    .menu__open {
        display: flex;
        align-items: center;
        z-index: 2;
    }

    .menu__close {
        display: block;
        width: 24px;
        height: 24px;
        fill: #d7485c;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .main__title {
        font-size: 32px;
        color: rgb(255, 255, 255);
        line-height: 1.25;
    }

    .main__description {
        font-size: 16px;
        line-height: 1.438;
    }

    .main__image {
        width: 250px;
        height: 207px;
    }

    .main__image::before,
    .main__image::after {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

    .about-us {
        padding: 100px 0 30px 0;
    }

    .about-us__title {
        font-size: 30px;
        color: rgb(51, 25, 7);
        line-height: 1.167;
    }

    .about-us__description {
        font-size: 16px;
        line-height: 1.437;
    }

    .advantage {
        padding: 30px 0 50px 0;
    }

    .advantage__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .products__items {
        grid-template-columns: 263px;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        grid-gap: 142px;
    }

    .products__title {
        font-size: 30px;
    }

    .order__form-title {
        font-size: 30px;
        line-height: 1.167;
        margin-bottom: 44px;
    }

    .order__form-text {
        margin-bottom: 60px;
    }

    .order__strawberry-left {
        top: 120px;
        left: 70%;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .logo__indent {
        margin-bottom: 40px;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__right {
        display: none;
    }

    .footer__social {
        order: 3;
        margin-bottom: 40px;
    }

    .footer__phone {
        order: 2;
        margin-bottom: 40px;
    }

    .footer__right__hidden {
        display: block;
        order: 4;
    }

    .present__text {
        width: 130px;
        font-size: 12px;
    }

    .present__text::before {
        border: 13px solid transparent;
        border-left: 20px solid #770a1d;
    }

    .present__text::after {
        border: 13px solid transparent;
        border-left: 20px solid #feefee;
    }
}

@media screen and (max-width: 424px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .advantage__container {
        column-gap: 15px;
        row-gap: 36px;
    }

    .advantage__title {
        font-size: 18px;
    }

    .advantage__text {
        font-size: 13px;
        line-height: 1.385;
    }

    .order {
        padding: 100px 0 77px 0;
    }

    .order__form-text {
        font-size: 16px;
        line-height: 1.437;
    }
}

@media screen and (max-width: 383px) {
    .order__strawberry-left {
        top: 140px;
        left: 75%;
    }
}

@media screen and (max-width: 374px) {
    .present {
        bottom: 5px;
        right: 5px;
    }
}
